#fixedCta {
  position: fixed;
  right: 0;
  top: calc(100vh - 250px);
  height: 225px;
  width: calc(25vw - 25px);
  background: white;
  margin: 0 25px 25px 0;
  z-index: 2;
  border-radius: 2px;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 6px 60px rgba(black, .1),
              0 4px 20px rgba($aqua, .12),
              0 1px 3px rgba(black, .13);

  @media (max-width: $xlargeBreak) {
    width: calc(50vw - 25px);
    top: calc(100vh - 200px);
    height: 175px;
  }

  @media (max-width: $smallBreak) {
    width: calc(100vw - 50px);
    top: calc(100vh - 225px);
    height: 200px;
  }

  &.appear {
    opacity: 1;
    animation: cta .7s cubic-bezier(.17,.67,.23,1);
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;

    svg {
      transform: scale(.8);

      path {
      	fill: $black;
      }
    }

    &:hover {
      cursor: pointer;

      svg path {
      	fill: $blue;
      }
		}
	}

  .bodyCtaTitle {
    padding: 0 25px;

    h4 {
      margin: 0 0 20px;
      color: $black;
    }
  }

  button {
    margin: 0 25px;
  }
}


@keyframes cta {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
