.dtContainer {
  background: $black url('../images/road.png') no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  position: relative;
  transition: .25s all cubic-bezier(.17,.67,.23,1);

  @media (max-width: $mediumBreak) {
    background-size: 125% 75%;
    background-position: right bottom;
  }

  @media (max-width: $xsmallBreak) {
    background-size: 120% 40%;
  }

  .serviceGrid {
    position: relative;
    padding: 100px 0;
    margin: 0 15vw;
    border-left: 1px solid $white8;
    border-right: 1px solid $white8;

    @media (max-width: $xxlargeBreak) {
      width: 80vw;
      margin: 0 10vw;
    }

    @media (max-width: $xlargeBreak) {
      width: 88vw;
      margin: 0 6vw;
    }

    @media (max-width: $mediumBreak) {
      padding: 130px 0 40px;
    }

    @media (max-width: $smallBreak) {
      width: 94vw;
      margin: 0 3vw;
    }

    .serviceTitleContainer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media (max-width: $mediumBreak) {
        max-width: 100%;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .serviceTitle {
        max-width: 45%;
        padding: 0 5% 0 22px;
        margin: 0 0 60px;
        border-left: 3px solid $aqua;

        @media (max-width: $mediumBreak) {
          max-width: 100%;
        }

        .h5 {
          color: $aqua;
          display: block;
          margin: 0 0 12px;
        }

        p {
          color: $white75;
          margin: 0;
        }
      }

      .you {
        padding: 0 50px 50px 0;

        @media (max-width: $mediumBreak) {
          padding: 0 0 50px 20px;
        }

        img {
          float: left;
          margin: 0 20px 0 0;
          transform: translateY(9px);
        }

        h2 {
          display: inline-block;
          margin-top: 10px;
          color: $aqua;

          span {
            color: white;
          }
        }

        .mapStart {
          display: block;
          width: 100px;
          height: 10px;
          background: linear-gradient(90deg,$aqua50,rgba($aqua, 0));
          transform: rotate(135deg) translate(-25px, 10px);
          transform-origin: 0 0;

          @media (max-width: $mediumBreak) {
            transform-origin: 50% 50%;
            transform: rotate(90deg) translate(12px, 17px);
            width: 75px;
          }

          @media (max-width: $smallBreak) {
            transform: rotate(90deg) translate(25px, 17px);
          }
        }
      }
    }

    .futureContainer {
      width: 72%;
      margin: 0 0 0 28%;
      position: relative;

      @media (max-width: $largeBreak) {
        width: calc(100% - 50px);
        margin: 0 25px;
      }

      .future {
        margin-top: 75px;
        display: grid;
        grid-template-columns: 22.5% 44px 50px 1fr;
        align-items: center;

        @media (max-width: $mediumBreak) {
          margin-top: 50px;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
        }

        .mapMiddle {
          grid-column: 1 / span 1;
          grid-row:  1 / span 1;
          display: block;
          width: 100px;
          height: 10px;
          background: linear-gradient(90deg,$aqua,rgba($aqua, 0));
          transform: rotate(-45deg);
          transform-origin: 0 0;

          @media (max-width: $mediumBreak) {
            background: linear-gradient(90deg,$aqua50,rgba($aqua, 0));
            transform: rotate(-90deg) translate(25px, -16px);
            transform-origin: 50% 50%;
            width: 75px;
          }
        }

        .mapEnd {
          grid-column: 1 / span 1;
          grid-row:  1 / span 1;
          display: block;
          width: 100%;
          height: 10px;
          background: $aqua;

          @media (max-width: $mediumBreak) {
            display: none;
          }
        }

        img {
          grid-column: 2 / span 1;
          grid-row:  1 / span 1;
        }

        .wordChange {
          grid-column: 4 / span 1;
          grid-row:  1 / span 1;
          width: 100%;
          position: relative;
          transform: translateY(-15px);

          @media (max-width: $mediumBreak) {
            transform: translateY(0);
            margin: 15px 0 50px;
          }

          h2 {
            margin: 0;
          }

          .words {
            width: 100%;
            white-space: nowrap;

            span {
              position: absolute;
            	opacity: 0;
            	overflow: hidden;
            	width: 100%;
            	color: $aqua;
              animation: rotateWords 18s linear infinite 0s;

              &:nth-child(2) {
                animation-delay: 3s;
              }

              &:nth-child(3) {
                animation-delay: 6s;
              }

              &:nth-child(4) {
                animation-delay: 9s;
              }

              &:nth-child(5) {
                animation-delay: 12s;
              }

              &:nth-child(6) {
                animation-delay: 15s;
              }
            }
          }

          @keyframes rotateWords {
              0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
              10% { opacity: 1; width: 0px; }
            	20% { opacity: 1; width: 100%; }
              27% { opacity: 0; width: 100%; }
              100% { opacity: 0; }
          }

        }
      }
    }

    .services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 0 25px;
      border-radius: 3px;

      @media (max-width: $mediumBreak) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
      }

      @media (max-width: $xsmallBreak) {
        grid-template-columns: 1fr;
        padding: 0;
      }

      a.service {
        color: white;
        padding: 25px;

        span.serviceIcon {
          display: block;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
        }

        &:hover {
          background: $black;
          z-index: 4;
          color: $aqua;
          box-shadow: 0 4px 40px rgba(black, .5), 0 1px 3px rgba(black, .75);
        }
      }
    }
  }
}
