.dtContainer {
  background: $black url('../images/road.png') no-repeat;
  // background: $black;
  background-size: cover;
  color: white;
  width: 100%;
  position: relative;
  transition: .25s all cubic-bezier(.17,.67,.23,1);

  .serviceGrid {
    position: relative;
    padding: 100px 0;
    margin: 0 15vw;
    border-left: 1px solid $white8;
    border-right: 1px solid $white8;

    @media (max-width: $xxlargeBreak) {
      width: 80vw;
      margin: 0 10vw;
    }

    @media (max-width: $xlargeBreak) {
      width: 88vw;
      margin: 0 6vw;
    }

    @media (max-width: $mediumBreak) {
      padding: 130px 0 40px;
    }

    @media (max-width: $smallBreak) {
      width: 94vw;
      margin: 0 3vw;
    }

    .serviceTitle {
      max-width: 50%;
      padding: 0 0 0 22px;
      margin: 0 0 60px;
      border-left: 3px solid $aqua;

      @media (max-width: $mediumBreak) {
        max-width: 88%;
      }

      .h5 {
        color: $aqua;
        display: block;
        margin: 0 0 12px;
      }

      p {
        color: $white75;
      }
    }

    .you {
      position: absolute;
      top: 100px;
      left: 75%;

      h2 {
        margin-top: 10px;
        color: $aqua;
        span {
          color: white;
        }
      }

      .mapStart {
        display: block;
        width: 150px;
        height: 10px;
        background: linear-gradient(90deg,$aqua,rgba($aqua, 0));
        transform: rotate(135deg);
        transform-origin: 0 0;
      }
    }

    .futureContainer {
      width: 75%;
      margin: 0 0 0 25%;
      position: relative;


      .future {
        margin-top: 150px;
        display: grid;
        grid-template-columns: 22.5% 44px 50px 1fr;
        align-items: center;

        .mapMiddle {
          grid-column: 1 / span 1;
          grid-row:  1 / span 1;
          display: block;
          width: 150px;
          height: 10px;
          background: linear-gradient(90deg,$aqua,rgba($aqua, 0));
          transform: rotate(-45deg);
          transform-origin: 0 0;
        }

        .mapEnd {
          grid-column: 1 / span 1;
          grid-row:  1 / span 1;
          display: block;
          width: 100%;
          height: 10px;
          background: $aqua;
        }

        img {
          grid-column: 2 / span 1;
          grid-row:  1 / span 1;
        }

        h2 {
          grid-column: 4 / span 1;
          grid-row:  1 / span 1;

          span {
            color: $aqua;
          }
        }
      }
    }

    .services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 0 25px;
      border-radius: 3px;

      @media (max-width: $mediumBreak) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
      }

      @media (max-width: $xsmallBreak) {
        grid-template-columns: 1fr;
        padding: 0;
      }

      a.service {
        color: white;
        padding: 25px;

        span.serviceIcon {
          display: block;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
        }

        &:hover {
          background: $black;
          z-index: 4;
          color: $aqua;
          box-shadow: 0 4px 40px rgba(black, .5), 0 1px 3px rgba(black, .75);
        }
      }
    }
  }
}
