
.body-blackout {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, .75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: none;

  &.is-blacked-out {
    display: block;
  }
}

.popup-trigger {
  display: inline-block;
}

.popup-modal {
  height: 70vh;
  width: 70vw;
  background-color: white;;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity .25s ease-in-out;
  z-index: 101;

  display: none;
  animation: emerge .75s cubic-bezier(.165,.84,.44,1);

  overflow: hidden;
  overflow-y: scroll;

  @media (max-width: $xxlargeBreak) {
    width: 80vw;
  }

  @media (max-width: $xlargeBreak) {
    width: 88vw;
  }

  @media (max-width: $smallBreak) {
    width: 90vw;
  }

  &.is-visible {
    pointer-events: auto;
    display: inherit;
  }

  .close-container {
    position: sticky;
  	top: 0;
    z-index: 103;
  	display: flex;
  	justify-content: flex-end;

    button.modal-close {
      margin: 15px 15px 0 0;
      cursor: pointer;
      width: 50px;
		  height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .modal-content {
    max-width: 80%;
    margin: 0 10%;

    img {
      margin: 25px 0 0 0;
      max-width: 100%;
      border: 1px solid $black7;
    }
  }
}

@keyframes emerge {
	0% {
    opacity: 0;
    visibility: hidden;
  }
	100% {
    opacity: 1;
    visibility: visible;
  }
}
